* {
  box-sizing: border-box;
}

body {
  background-color: #383530;
  margin: 0;
  overflow: hidden;
  font-size: 2.5vh;
  position: fixed;
  height: 100%;
  width: 100%;
  color: #fbf1d7;
  font-family: "TF2 Secondary";
}

h1 {
  font-weight: normal;
}

a {
  font-weight: bold;
  color: #5E98D9;
  text-decoration: none;
}

nav {
  height: 5%;
  width: 100%;
  margin: 1vh 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
nav.bottom {
  position: absolute;
  bottom: 0;
}
nav.bottom .btn {
  max-width: 50%;
  flex-grow: 1;
  flex-basis: 50%;
}
nav.top .btn {
  height: 100%;
  flex-grow: 1;
  max-width: 50vh;
  flex-basis: 0;
  margin: 0 0.5vh;
}
nav.top #soundbtn {
  margin: 0 0.5vh;
}
nav .btn,
nav .nosoundbtn {
  position: relative;
  margin: 0 1vh;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #B4B4B4;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #949494;
}
::-webkit-scrollbar-thumb:active {
  background: #646464;
}

::-webkit-scrollbar-button:single-button {
  display: block;
  border-style: solid;
  height: 1vh;
  width: 1vw;
}
::-webkit-scrollbar-button:vertical {
  height: 0;
}
::-webkit-scrollbar-button:horizontal {
  height: 0;
}

#aboutchangelog h1 {
  font-family: "TF2 Build";
  font-size: 3.2vh;
}
#aboutchangelog section {
  font-family: "TF2 Secondary";
  margin-bottom: 8vh;
}
#aboutchangelog section p {
  margin: 0 0 1vh 0;
}

#aboutcredits h1 {
  font-family: "TF2 Build";
  font-size: 5vh;
  margin: 0 0 5vh 0;
}
#aboutcredits p {
  font-family: "TF2 Secondary";
  margin: 1vh 0;
}

.creditsother {
  margin-top: 5vh;
}

#optionsscreen section {
  max-height: 92%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}
#optionsscreen section > div {
  border-bottom: 0.25vh solid #776B5F;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
#optionsscreen section > div:nth-of-type(odd) {
  border-right: 0.25vh solid #776B5F;
}
#optionsscreen section > div:last-of-type {
  border-bottom: none;
  flex-basis: 100%;
}
#optionsscreen section > div > .optiontitle {
  font-family: "TF2 Build";
  text-align: center;
  display: block;
  font-size: 2.5vh;
}
#optionsscreen section > div > p {
  font-size: 2vh;
  text-align: center;
  font-family: "TF2 Secondary";
  margin-top: 2vh;
  margin-bottom: 3vh;
  width: 100%;
  padding: 0 2%;
}
#optionsscreen section > div > p:last-child {
  margin-top: auto;
}

.btngroup {
  height: 5vh;
  padding: 0 1vh;
  margin-bottom: 2vh;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  font-family: "TF2 Build";
}
.btngroup.checkboxgroup {
  height: auto;
  display: grid;
  grid-auto-rows: 6vh;
  grid-template-columns: 6vh auto;
  grid-template-rows: 6vh;
  align-items: center;
  justify-content: center;
  font-size: 2.2vh;
}
.btngroup.checkboxgroup.col2 {
  grid-template-columns: 6vh auto 6vh auto;
}
.btngroup.checkboxgroup .checkbox {
  height: 4.5vh;
  width: 4.5vh;
  border: 0.25vh solid #776B5F;
  background-color: #211e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  margin-right: 1vh;
  cursor: pointer;
}
.btngroup.checkboxgroup .checkbox.checked {
  font-size: 3vh;
}
.btngroup.checkboxgroup p {
  margin: 0 2vh 0 0;
  text-align: left;
}
.btngroup.checkboxgroup select {
  margin-left: 1vh;
  height: 4.5vh;
}
.btngroup.checkboxgroup span {
  display: flex;
  align-items: center;
}
.btngroup > .btn {
  position: static;
  flex-basis: 25%;
}
.btngroup > .btn#resetbtn {
  flex-basis: 33%;
}
.btngroup select {
  left: 15%;
  width: 70%;
  font-family: "TF2 Build";
  font-size: 2vh;
  border-radius: 1.5vh;
  background-color: #776B5F;
  border-color: #776B5F;
  border-style: solid;
  text-align: center;
  text-align-last: center;
  color: #fbf1d7;
}

#crateselectscreen,
#countdownscreen,
#resultscreen,
#statsscreen,
#aboutscreen,
#optionsscreen,
#bulkunboxselect {
  height: 100%;
  width: 100%;
}

#countdownscreen,
#bulkunboxselect {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #0005;
}
#countdownscreen input::-webkit-outer-spin-button,
#countdownscreen input::-webkit-inner-spin-button,
#bulkunboxselect input::-webkit-outer-spin-button,
#bulkunboxselect input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#countdownscreen input[type=number],
#bulkunboxselect input[type=number] {
  -moz-appearance: textfield;
}

#aboutscreen {
  text-align: center;
}

#countdown,
#bulkunboxcontainer,
#bulkunboxprogress {
  background-color: #292526;
  border: 0.5vh solid #554D4A;
  border-radius: 2.5vh;
  position: absolute;
  min-width: 45vh;
  max-width: 90vw;
  height: 30vh;
  left: 50%;
  transform: translateX(-50%);
  top: 35vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #B85345;
}
#countdown #uncratingtext,
#bulkunboxcontainer #uncratingtext,
#bulkunboxprogress #uncratingtext {
  margin-bottom: 2vh;
}

#bulkunboxcontainer,
#bulkunboxprogress {
  height: auto;
  padding: 1vh;
  color: #fbf1d7;
}
#bulkunboxcontainer input,
#bulkunboxprogress input {
  margin-bottom: 2vh;
  padding: 0.75vh 0;
  font-size: 2.5vh;
  background-color: #211e1e;
  color: #fbf1d7;
  border-color: #776B5F;
  border-style: solid;
  font-family: "TF2 Build";
  text-align: center;
}
#bulkunboxcontainer .btn,
#bulkunboxprogress .btn {
  height: 5vh;
  flex-grow: 1;
  flex-basis: 0;
}
#bulkunboxcontainer progress,
#bulkunboxprogress progress {
  width: 100%;
  height: 3vh;
  border: 2px solid #776B5F;
  border-radius: 2.5vh;
  -webkit-appearance: none;
  overflow: hidden;
}
#bulkunboxcontainer progress::-webkit-progress-bar,
#bulkunboxprogress progress::-webkit-progress-bar {
  border-radius: 2.5vh;
  background-color: #211e1e;
}
#bulkunboxcontainer progress::-webkit-progress-value,
#bulkunboxprogress progress::-webkit-progress-value {
  background-color: #fbf1d7;
}

#resultscreen nav {
  position: absolute;
  bottom: 0;
}

[data-tooltip] {
  position: relative;
}
[data-tooltip]::after {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  font-family: "TF2 Build";
  font-size: 2.5vh;
  text-align: center;
  border-radius: 0.5vh;
  background-image: linear-gradient(to bottom, #534a42, #373128);
  padding: 1vh 2vh;
  color: #fbf1d7;
  font-weight: normal;
  white-space: nowrap;
  pointer-events: none;
  /* Center button text horizontally and vertically */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
}
[data-tooltip].tooltiptopleft::after {
  bottom: 90%;
  right: 90%;
}
[data-tooltip].tooltiptop::after {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
[data-tooltip].tooltiptopright::after {
  bottom: 90%;
  left: 90%;
}
[data-tooltip].tooltipleft::after {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}
[data-tooltip].tooltipbottomleft::after {
  top: 90%;
  right: 90%;
}
[data-tooltip].tooltipbottomright::after {
  top: 90%;
  left: 90%;
}
[data-tooltip]:hover::after {
  display: flex;
}

/* Button style */
.btn,
.nosoundbtn,
.btndisabled {
  font-family: "TF2 Build";
  font-size: 2.2vh;
  text-align: center;
  border-radius: 1.5vh;
  background-color: #776B5F;
  position: absolute;
  cursor: pointer;
  /* Center button text horizontally and vertically */
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a.btn {
  color: #fbf1d7;
  text-decoration: none;
  font-weight: normal;
}

.btn i,
.nosoundbtn i,
.btndisabled i {
  font-size: 3.8vh;
}
.btn i.icon-backpacktf,
.nosoundbtn i.icon-backpacktf,
.btndisabled i.icon-backpacktf {
  font-size: 3vh;
}

.btn [data-string] {
  display: none;
}

[data-string="160"] {
  white-space: nowrap;
}

.navbtn {
  width: 5vh;
  height: 40%;
  top: 30%;
  font-size: 8vh;
  z-index: 1;
}

#cratewindow > .btn {
  height: 8vh;
  width: 5vh;
  right: -2.75vh;
  z-index: 2;
}

#gridviewbtn {
  top: 6%;
}
#gridviewbtn > i {
  font-size: 6vh;
}

#randomcratebtn {
  top: 18%;
}

#searchbtn {
  top: 30%;
}

#previouscratebtn {
  left: -2.75vh;
}

#nextcratebtn {
  right: -2.75vh;
}

.btn:hover,
.nosoundbtn:hover {
  background-color: #91493B;
}

.btn:active,
.nosoundbtn:active {
  background-color: #81392B;
}

#unboxbtn,
#randomcratebtn {
  height: 100%;
  flex-grow: 1;
}

.btndisabled {
  background-color: #534a42;
  color: #222222;
}
.btndisabled:hover, .btndisabled:active {
  background-color: #534a42;
  cursor: initial;
}
.btndisabled i {
  color: #222222;
}

#steambtn,
#soundbtn {
  width: 8vh;
  height: 100%;
  color: #fbf1d7;
}

#crateimagediv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}

#crateinfotext {
  font-family: "TF2 Secondary";
  text-align: center;
}

#countdown > p {
  font-family: "TF2 Build";
  font-size: 3vh;
  margin: 0;
}
#countdown > p:last-child {
  font-size: 6vh;
}

.tooltip {
  height: 6vh;
  display: none;
  position: absolute;
  font-family: "TF2 Build";
  font-size: 2.5vh;
  text-align: center;
  border-radius: 0.5vh;
  background-image: linear-gradient(to bottom, #534a42, #373128);
  padding: 0 2vh;
  /* Center button text horizontally and vertically */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

#steamtooltip {
  top: 90%;
  left: 7vh;
}

#soundtooltip {
  top: 90%;
  right: 7vh;
}

#steama:hover + .tooltip,
#soundbtn:hover + .tooltip {
  display: flex;
}

#crateimagediv img {
  max-width: 100vw;
  max-height: 70%;
  height: 70%;
  object-fit: contain;
}

#crategridsearch {
  display: none;
  height: 6%;
  flex-wrap: none;
  border-bottom: 0.5vh solid #554D4A;
}
#crategridsearch .crategridsearchicon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.5vh solid #554D4A;
  width: 6vh;
}
#crategridsearch .crategridsearchicon .icon-search {
  font-size: 2.8vh;
}

#crategridsearchinput {
  background: none;
  border: none;
  flex-grow: 1;
  flex-basis: 10%;
  color: #fbf1d7;
  font-family: "TF2 Build";
  font-size: 2.5vh;
  padding: 0 1vh;
}

#cratewindow {
  background-color: #292526;
  border: 0.5vh solid #554D4A;
  border-radius: 2.5vh;
  position: absolute;
  width: calc(100% - 6vh);
  left: 3vh;
  top: 8%;
  height: 84%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#cratewindow.showsearch.gridactive #crategrid {
  flex-basis: 93%;
}
#cratewindow.showsearch.gridactive #crategridsearch {
  display: flex;
}

#crateview {
  position: relative;
  width: 100%;
  height: 100%;
}

#crategrid {
  height: 100%;
  padding: 1vh 0.5vh 0 1vh;
  grid-auto-rows: 32.5%;
  grid-template-columns: repeat(auto-fill, minmax(22vh, 1fr));
  grid-template-rows: 32.5%;
  grid-gap: 1% 1%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-right: 7vh;
}

#cratemain {
  height: 100%;
  float: left;
  width: 49%;
  position: relative;
}

#crateinfo {
  height: 100%;
  width: 100%;
}

#cratedetails {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

#cratename {
  color: #FFD700;
  font-family: "TF2 Build";
  text-align: center;
  font-size: 3vh;
  margin: 0;
  padding: 1vh 0.5vh 0 0.5vh;
}

#crateseries {
  color: #FFD700;
  font-family: "TF2 Build";
  text-align: center;
  font-size: 1.8vh;
  margin: 0;
}

#crateresult > p {
  margin: 0;
  margin-top: 1vh;
}

#newlootacquired {
  text-align: center;
  line-height: 4vh;
  font-family: "TF2 Build";
  font-size: 4.2vh;
  overflow: hidden;
  margin: 1vh;
}

#youtext {
  font-family: "TF2 Build";
  font-size: 2.75vh;
  text-align: center;
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  margin: 0;
}

#unboxedtext {
  color: #B85345;
}

#unboxeditem {
  background-color: #332F2E;
  border: 0.5vh solid #554D4A;
  border-radius: 2.5vh;
  position: absolute;
  height: 80%;
  bottom: 7%;
  width: 85vw;
  left: 7.5vw;
}

#crateinfobtn {
  left: 50%;
  transform: translateX(-50%);
  bottom: 1%;
  width: calc(100% - 22vh);
  height: 5vh;
  display: flex;
}

#crateinforeturnbtn {
  left: 7.5%;
  bottom: 1%;
  width: 40%;
  height: 5vh;
}

#crateinfoeffectsbtn,
#crateinfolootbtn {
  right: 7.5%;
  bottom: 1%;
  width: 40%;
  height: 5vh;
}

.tabreturnbtn {
  width: 98%;
  height: 5%;
  bottom: 0;
  left: 1%;
}

#returnbtn {
  left: 1%;
  width: 47%;
}

#unboxagainbtn {
  right: 1%;
  width: 47%;
}

#lootimgdiv {
  height: 100%;
  position: relative;
}

#lootimg,
#effectimg {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#kitimg {
  position: absolute;
  top: 37%;
  left: 50%;
  height: 16% !important;
  width: auto !important;
  transform: translateX(-65%);
  z-index: 1;
}

.kitimg {
  position: absolute;
  top: 43%;
  left: 50%;
  height: 32% !important;
  width: auto !important;
  transform: translateX(-63%);
  z-index: 1;
}

#kitfield {
  text-align: center;
  font-family: "TF2 Secondary";
  font-size: 2.4vh;
}

#lootimg {
  z-index: 1;
}

#lootimgdiv img {
  display: block;
  height: 55%;
  width: 100%;
  object-fit: contain;
}

#loottextdiv {
  height: 100%;
  width: 98%;
  position: absolute;
  top: 0;
  left: 1%;
}

#lootname {
  display: block;
}

#lootnamediv {
  font-family: "TF2 Build";
  text-align: center;
  font-size: 3vh;
  position: relative;
  top: 3%;
  width: 95%;
  margin: 0 auto;
}

#lootbonusandstats {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 1%;
  display: flex;
  height: 35%;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 11;
}
#lootbonusandstats > div {
  height: 100%;
}
#lootbonusandstats #lootbonusitems {
  height: 50%;
  flex-grow: 1;
}
#lootbonusandstats #lootbonusitems #lootbonusitemheader {
  height: 25%;
  font-family: "TF2 Secondary";
  font-size: 2.75vh;
  text-align: center;
}
#lootbonusandstats #lootbonusitems #lootbonusitemheader > p {
  margin: 0;
}
#lootbonusandstats #lootbonusitems #lootbonusnone {
  display: flex;
  justify-content: center;
  font-family: "TF2 Build";
  font-size: 3.5vh;
}
#lootbonusandstats #lootstatscontainer {
  flex-direction: row;
  height: 15%;
}

#lootmarketbtns {
  position: absolute;
  top: 40%;
  right: 0.5vh;
  transform: translateY(-50%);
  z-index: 10;
}
#lootmarketbtns a {
  height: 6vh;
  width: 6vh;
  position: relative;
  margin: 1vh 0;
}
#lootmarketbtns a:first-child {
  margin-top: 0;
}
#lootmarketbtns [data-tooltip]::after {
  min-width: 20vh;
  white-space: normal;
}

#lootbonusitems {
  text-align: center;
  font-family: "TF2 Build";
  font-size: 3vh;
  line-height: 3vh;
}
#lootbonusitems #lootbonusitemcontainer {
  display: flex;
  justify-content: space-evenly;
  height: 70%;
}
#lootbonusitems #lootbonusitemcontainer > div {
  border: 0.2vh solid #FFD700;
  background-color: #292526;
  border-radius: 2.5vh;
  max-height: 15vh;
  width: 15vh;
  max-width: 33vw;
  display: inline-block;
  position: relative;
}
#lootbonusitems #lootbonusitemcontainer > div.unusual {
  border-color: #8650ac;
}
#lootbonusitems #lootbonusitemcontainer > div img {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}
#lootbonusitems #lootbonusitemcontainer > div img.unusualifierimg {
  position: absolute;
  height: 39%;
  top: 49%;
  left: 35%;
}

.bonustooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  white-space: nowrap;
  background-image: linear-gradient(to bottom, #534a42, #373128);
  padding: 1vh 4vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.2vh;
  line-height: 2.5vh;
  border-radius: 0.5vh;
  color: #FFD700;
  z-index: 1;
  max-width: 100vw;
}

#lootbonusitemcontainer div:hover .bonustooltip {
  display: block;
}

#lootstatscontainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
#lootstatscontainer div {
  font-family: "TF2 Build";
  font-size: 4.25vh;
  text-align: center;
}
#lootstatscontainer div [data-string] {
  font-family: "TF2 Secondary";
  font-size: 2.25vh;
  line-height: 3vh;
  display: inline-block;
  vertical-align: middle;
}

#statscontainer > div,
#aboutcontainer > div {
  display: none;
  overflow-y: auto;
  height: 100%;
  padding: 0 1vh;
}

div.visible {
  display: block !important;
}

#statscontainer,
#aboutcontainer {
  height: 86%;
  font-family: "TF2 Secondary";
}

#aboutdonations {
  font-size: 2vh;
  line-height: 2.8vh;
}
#aboutdonations h2,
#aboutdonations h3 {
  font-size: 2.75vh;
}
#aboutdonations ol {
  margin-top: 0;
  font-size: 2.5vh;
  display: inline-block;
  list-style-position: inside;
  padding: 0;
}
#aboutdonations ol li {
  margin: 0.5vh 0;
}

#aboutchangelog {
  font-size: 2vh;
}

#statscontainerinner {
  text-align: center;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  flex-direction: column;
}
#statscontainerinner > nav {
  height: auto;
  font-family: "TF2 Build";
  width: 60%;
  margin: 0 auto;
}
#statscontainerinner > nav > div {
  display: flex;
  align-items: center;
}
#statscontainerinner > nav > .btn {
  width: 15vh;
  font-size: 4.5vh;
  margin: 0;
}
#statscontainerinner > div {
  height: 100%;
  width: 100%;
  padding: 0 1vh;
  display: none;
  flex-direction: column;
  align-items: center;
  font-size: 2.5vh;
  overflow: auto;
}
#statscontainerinner > div #statsluckcontainer {
  white-space: normal;
}
#statscontainerinner > div #statsluckcontainer p {
  margin-top: 0;
  font-size: 2.5vh;
}
#statscontainerinner > div.statvisible {
  display: flex !important;
}
#statscontainerinner table {
  white-space: normal;
  border-spacing: 0 1vh;
}
#statscontainerinner table td {
  padding-right: 1vh;
}
#statscontainerinner table td:first-child {
  text-align: left;
}
#statscontainerinner.visible {
  display: flex !important;
}
#statscontainerinner #unusualluck,
#statscontainerinner #strangeluck {
  font-size: 3.2vh !important;
  font-family: "TF2 Build";
}
#statscontainerinner #unusualluck.lucky,
#statscontainerinner #strangeluck.lucky {
  color: #22cb22;
}
#statscontainerinner #unusualluck.unlucky,
#statscontainerinner #strangeluck.unlucky {
  color: #cb2222;
}
#statscontainerinner #unusualluck.neither,
#statscontainerinner #strangeluck.neither {
  color: #FFD700;
}
#statscontainerinner #unusualluckdesc,
#statscontainerinner #strangeluckdesc {
  line-height: 3vh;
}
#statscontainerinner #unusualluckdesc#unusualluckdesc,
#statscontainerinner #strangeluckdesc#unusualluckdesc {
  margin-bottom: 5vh;
}
#statscontainerinner #unusualluckdesc#strangeluckdesc,
#statscontainerinner #strangeluckdesc#strangeluckdesc {
  margin-bottom: 0;
}
#statscontainerinner > div > div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#statsluckcontainer {
  display: none;
  flex-direction: column;
}

#statslucknotenough {
  display: none;
  font-size: 3.2vh;
  white-space: normal;
}

#nounusuals,
#noitems {
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  font-size: calc(3.5vh + 0.75vw);
  margin: 0;
  font-family: "TF2 Secondary";
}

#statscrates {
  height: 100%;
  padding: 0 0.5vw;
  grid-auto-rows: 32.5%;
  grid-template-columns: repeat(auto-fill, minmax(22vh, 1fr));
  grid-template-rows: 32.5%;
  grid-gap: 1% 1%;
  overflow: hidden auto;
}
#statscrates.visible {
  display: grid !important;
}

#statsunusualscontent,
#bulkresultsunusualscontent {
  height: 100%;
  padding: 0 0.5vw;
  grid-auto-rows: 49%;
  grid-template-columns: repeat(auto-fill, minmax(25vh, 1fr));
  grid-template-rows: 49%;
  grid-gap: 1% 1%;
  display: grid;
}
#statsunusualscontent > div,
#bulkresultsunusualscontent > div {
  background-color: #292526;
  border: 0.2vh solid #8650ac;
  border-radius: 2.5vh;
  font-size: 2vh;
  text-align: center;
  position: relative;
}

#statscratesdetails {
  height: 100%;
  display: none;
  flex-direction: column;
}
#statscratesdetails.visible {
  display: flex;
}
#statscratesdetails > div {
  height: 100%;
  overflow: hidden auto;
  display: flex;
  flex-direction: column;
}
#statscratesdetails #cratedetailsheader {
  height: 15%;
  justify-content: space-between;
  position: relative;
  display: flex;
  border-bottom: 0.5vh solid #615C59;
  background: repeating-linear-gradient(-60deg, #282320, #282320 0.6vh, #2e2926 0.6vh, #2e2926 1.8vh);
  text-align: center;
  color: #FFD700;
  font-family: "TF2 Build";
  margin-bottom: 1vh;
}
#statscratesdetails #cratedetailsheader > img {
  height: 100%;
  margin: 0 1vh;
  flex-basis: 30%;
  object-fit: contain;
  object-position: left;
}
#statscratesdetails #cratedetailsheader > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1vh;
  flex-basis: 40%;
}
#statscratesdetails #cratedetailsheader > div > p {
  margin: 0;
}
#statscratesdetails #cratedetailsheader > div#cratedetailsstats {
  flex-basis: 30%;
}
#statscratesdetails nav .btn {
  width: 98%;
  left: 1%;
  margin: 0;
}

#statscratesdetailscontent,
#bulkresultsitems,
#bulkresultsbonusitems {
  display: grid;
  padding: 0 0.5vw;
  grid-auto-rows: 42%;
  grid-template-columns: repeat(auto-fill, minmax(23vh, 1fr));
  grid-template-rows: 42%;
  grid-gap: 1vh 1vh;
  flex-grow: 1;
  max-height: 83%;
  color: #FFD700;
  border-color: #FFD700;
}
#statscratesdetailscontent.col1,
#bulkresultsitems.col1,
#bulkresultsbonusitems.col1 {
  grid-auto-rows: 48%;
  grid-template-rows: 48%;
}
#statscratesdetailscontent.col2,
#bulkresultsitems.col2,
#bulkresultsbonusitems.col2 {
  grid-template-columns: repeat(auto-fill, minmax(45vh, 1fr));
}
#statscratesdetailscontent.col3,
#bulkresultsitems.col3,
#bulkresultsbonusitems.col3 {
  grid-template-columns: repeat(auto-fill, minmax(61vh, 1fr));
  grid-auto-rows: 52%;
  grid-template-rows: 52%;
}
#statscratesdetailscontent > div,
#bulkresultsitems > div,
#bulkresultsbonusitems > div {
  background-color: #292526;
  border: 0.2vh solid;
  border-radius: 2.5vh;
  font-size: 2vh;
  text-align: center;
  position: relative;
}
#statscratesdetailscontent > div > div:not(.cratedetailsitembottom),
#bulkresultsitems > div > div:not(.cratedetailsitembottom),
#bulkresultsbonusitems > div > div:not(.cratedetailsitembottom) {
  position: relative;
  top: 5%;
  height: 90%;
  display: flex;
}
#statscratesdetailscontent > div > div:not(.cratedetailsitembottom) > img,
#bulkresultsitems > div > div:not(.cratedetailsitembottom) > img,
#bulkresultsbonusitems > div > div:not(.cratedetailsitembottom) > img {
  height: 90%;
  max-width: 45%;
  object-fit: contain;
  position: relative;
  top: 5%;
  flex-grow: 1;
}
#statscratesdetailscontent > div > div:not(.cratedetailsitembottom) .cratedetailsqualitylist,
#bulkresultsitems > div > div:not(.cratedetailsitembottom) .cratedetailsqualitylist,
#bulkresultsbonusitems > div > div:not(.cratedetailsitembottom) .cratedetailsqualitylist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
#statscratesdetailscontent > div > div:not(.cratedetailsitembottom) .cratedetailsqualitylist:nth-child(3),
#bulkresultsitems > div > div:not(.cratedetailsitembottom) .cratedetailsqualitylist:nth-child(3),
#bulkresultsbonusitems > div > div:not(.cratedetailsitembottom) .cratedetailsqualitylist:nth-child(3) {
  margin-left: 0.5vh;
}
#statscratesdetailscontent > div > div:not(.cratedetailsitembottom) .cratedetailsqualitylist > p,
#bulkresultsitems > div > div:not(.cratedetailsitembottom) .cratedetailsqualitylist > p,
#bulkresultsbonusitems > div > div:not(.cratedetailsitembottom) .cratedetailsqualitylist > p {
  font-family: "TF2 Build";
  font-size: 1.9vh;
  margin: 0.25vh 0;
}
#statscratesdetailscontent > div > div:not(.cratedetailsitembottom) .cratedetailsqualitylist > p:nth-child(even),
#bulkresultsitems > div > div:not(.cratedetailsitembottom) .cratedetailsqualitylist > p:nth-child(even),
#bulkresultsbonusitems > div > div:not(.cratedetailsitembottom) .cratedetailsqualitylist > p:nth-child(even) {
  margin-bottom: 0.75vh;
}
#statscratesdetailscontent > div .cratedetailsitembottom,
#bulkresultsitems > div .cratedetailsitembottom,
#bulkresultsbonusitems > div .cratedetailsitembottom {
  position: absolute;
  bottom: 1%;
  width: 100%;
}
#statscratesdetailscontent > div .cratedetailsitembottom .cratedetailsitemmarketbtns,
#bulkresultsitems > div .cratedetailsitembottom .cratedetailsitemmarketbtns,
#bulkresultsbonusitems > div .cratedetailsitembottom .cratedetailsitemmarketbtns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#statscratesdetailscontent > div .cratedetailsitembottom .cratedetailsitemmarketbtns a,
#bulkresultsitems > div .cratedetailsitembottom .cratedetailsitemmarketbtns a,
#bulkresultsbonusitems > div .cratedetailsitembottom .cratedetailsitemmarketbtns a {
  width: 30%;
  position: relative;
  height: 4vh;
}
#statscratesdetailscontent > div .cratedetailsitembottom .cratedetailsitemmarketbtns a i,
#bulkresultsitems > div .cratedetailsitembottom .cratedetailsitemmarketbtns a i,
#bulkresultsbonusitems > div .cratedetailsitembottom .cratedetailsitemmarketbtns a i {
  font-size: 3vh;
}
#statscratesdetailscontent > div .cratedetailsitembottom .cratedetailsitemmarketbtns [data-tooltip]::after,
#bulkresultsitems > div .cratedetailsitembottom .cratedetailsitemmarketbtns [data-tooltip]::after,
#bulkresultsbonusitems > div .cratedetailsitembottom .cratedetailsitemmarketbtns [data-tooltip]::after {
  min-width: 20vh;
  white-space: normal;
}
#statscratesdetailscontent > div > p,
#bulkresultsitems > div > p,
#bulkresultsbonusitems > div > p {
  font-family: "TF2 Build";
  padding: 0 1vw;
  z-index: 1;
  position: absolute;
  width: 100%;
  text-shadow: 0.1vh 0.1vh black;
  margin: 0;
}
#statscratesdetailscontent > div .cratedetailsqualitylist,
#bulkresultsitems > div .cratedetailsqualitylist,
#bulkresultsbonusitems > div .cratedetailsqualitylist {
  color: #fbf1d7;
}
#statscratesdetailscontent > div .cratedetailsitemunboxed,
#bulkresultsitems > div .cratedetailsitemunboxed,
#bulkresultsbonusitems > div .cratedetailsitemunboxed {
  margin: 0 0 0.5vh;
  font-family: "TF2 Build";
}
#statscratesdetailscontent > div .cratedetailsitemunboxed.cratedetailsitemnomarket,
#bulkresultsitems > div .cratedetailsitemunboxed.cratedetailsitemnomarket,
#bulkresultsbonusitems > div .cratedetailsitemunboxed.cratedetailsitemnomarket {
  margin: 0;
  bottom: 0;
}
#statscratesdetailscontent > div .cratedetailskillstreak,
#bulkresultsitems > div .cratedetailskillstreak,
#bulkresultsbonusitems > div .cratedetailskillstreak {
  font-family: "TF2 Secondary";
  color: #7ea9d1;
  font-size: 1.8vh;
}

#statscrates > div,
#crategrid div {
  background-color: #292526;
  border: 0.2vh solid #FFD700;
  border-radius: 2.5vh;
  font-size: 2vh;
  text-align: center;
  position: relative;
  user-select: none;
}
#statscrates > div:last-child,
#crategrid div:last-child {
  margin-bottom: 1px;
}

#statsunusualscontent > div p,
#bulkresultsunusualscontent > div p {
  font-family: "TF2 Build";
  color: #8650ac;
  padding: 0 1vw;
  z-index: 1;
  width: 100%;
}
#statsunusualscontent > div > p,
#bulkresultsunusualscontent > div > p {
  margin-top: 1vh;
}

.statsunusualsbottom {
  position: absolute;
  bottom: 1%;
  width: 100%;
}

.statsunusualsmarketbtns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.statsunusualsmarketbtns a {
  width: 30%;
  position: relative;
  height: 4vh;
}
.statsunusualsmarketbtns a i {
  font-size: 3vh;
}
.statsunusualsmarketbtns [data-tooltip]::after {
  min-width: 20vh;
  white-space: normal;
}

#statscrates > div:hover,
#crategrid div:hover {
  background-color: #927600 !important;
}

.statscratestext {
  height: 30%;
}

#statsunusualscontent > div > img,
#bulkresultsunusualscontent > div > img,
#statscratesdetailscontent > div > img,
#bulkresultsitems > div > img,
#bulkresultsbonusitems > div > img {
  top: 20%;
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 60%;
  left: 0;
  z-index: 0;
}
#statsunusualscontent > div > img.cratedetailskitimg,
#bulkresultsunusualscontent > div > img.cratedetailskitimg,
#statscratesdetailscontent > div > img.cratedetailskitimg,
#bulkresultsitems > div > img.cratedetailskitimg,
#bulkresultsbonusitems > div > img.cratedetailskitimg {
  top: 45%;
  height: 20%;
  width: auto;
  left: 51%;
  transform: translateX(-66%);
}
#statsunusualscontent > div > img.unusualifierimg,
#bulkresultsunusualscontent > div > img.unusualifierimg,
#statscratesdetailscontent > div > img.unusualifierimg,
#bulkresultsitems > div > img.unusualifierimg,
#bulkresultsbonusitems > div > img.unusualifierimg {
  height: 28%;
  width: auto;
  top: 49%;
  left: 50%;
  transform: translateX(-40%);
}

#statscrates > div > img,
#crategrid div img {
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 90%;
  top: 5%;
  left: 0;
  z-index: 0;
}

.statscratesname,
.statscratesseries,
.statsitemname,
.statsitemunbox {
  font-family: "TF2 Build";
  padding: 0 1vw;
  z-index: 1;
  position: absolute;
  width: 100%;
  text-shadow: 0.1vh 0.1vh black;
}

.statscratesname,
.statsitemname {
  color: #FFD700;
  margin-top: 0.5vh;
}

.statscratesseries,
.statsitemunbox {
  bottom: 0;
  margin-bottom: 0.5vh;
  color: #FFD700;
}

.statsunusualsname {
  margin-top: 1vh;
}

.statsunusualseffect {
  bottom: 0;
  margin-bottom: 1vh;
}

.break {
  display: none;
}

.active {
  background-color: #bD4A37 !important;
}

#cratelootdiv,
#crateeffectsdiv {
  max-height: 80%;
  overflow: auto;
  text-align: center;
  font-family: "TF2 Secondary";
  font-size: 2vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

#cratelootlist,
#crateeffectslist,
#cratelootbonus ul {
  list-style: none;
  padding-left: 0;
  line-height: 3vh;
}

#cratelootlist {
  color: #8f8a83;
}

#crateeffectslist,
#cratelootbonus ul {
  color: #FFD700;
}

#cratenote {
  margin-bottom: 0;
}

.column {
  column-count: 2;
}

#crateloottitle {
  margin-top: 0;
}

#effectname,
#effecttext {
  text-align: center;
  font-family: "TF2 Secondary";
  font-size: 2.4vh;
  color: #8650AC;
}

.unusualloot,
#kitfield {
  color: #7ea9d1;
}

#exitgridviewbtn {
  top: 6%;
}

#statsunusuals {
  overflow-x: hidden;
}

#statsunusuals nav {
  height: 5vh;
  max-width: 80vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
#statsunusuals nav div {
  text-align: center;
  margin: 0 2vh;
}
#statsunusuals nav .btn {
  height: 100%;
  max-width: 20vh;
  flex-grow: 1;
  font-size: 4vh;
  margin: 0 1vh;
}

#bulkunboxresults {
  height: 100%;
  width: 100%;
}
#bulkunboxresults > div {
  height: 93%;
  width: 100%;
  overflow: hidden auto;
  display: flex;
  flex-direction: column;
}
#bulkunboxresults > div nav {
  height: 5vh;
  min-height: 5vh;
  max-width: 80vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
#bulkunboxresults > div nav div {
  text-align: center;
  margin: 0 2vh;
}
#bulkunboxresults > div nav .btn {
  height: 100%;
  max-width: 20vh;
  flex-grow: 1;
  font-size: 4vh;
  margin: 0 1vh;
}
#bulkunboxresults [data-statstring] {
  display: none;
  padding: 0 1vh;
}
#bulkunboxresults [data-statstring].bulkvisible {
  display: flex;
}
#bulkunboxresults [data-statstring].bulkvisible#bulkresultsitems, #bulkunboxresults [data-statstring].bulkvisible#bulkresultsbonusitems {
  display: grid;
}
#bulkunboxresults #bulkresultsunusuals {
  flex-direction: column;
  height: 100%;
}
#bulkunboxresults > nav {
  margin-top: 1vh;
  justify-content: center;
}
#bulkunboxresults > nav > .btn {
  width: 100%;
  max-width: 66vh;
}

#bulkresultsstats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#bulkresultsstats table {
  margin: 1vh 0;
}

#bulkresultsheader {
  border-bottom: 0.5vh solid #615C59;
  background: repeating-linear-gradient(-60deg, #282320, #282320 0.6vh, #2e2926 0.6vh, #2e2926 1.8vh);
  text-align: center;
  color: #FFD700;
  font-family: "TF2 Build";
  text-align: center;
  padding: 1vh 0;
}
#bulkresultsheader p {
  margin: 0;
}
#bulkresultsheader #bulkresultstitle {
  margin-top: 2vh;
}

[data-unusualmaxpage="1"],
[data-unusualmaxpage="0"] {
  display: none;
}

@media (orientation: portrait) and (max-aspect-ratio: 6/10) {
  #lootstatscontainer {
    height: 40% !important;
  }
  #lootstatscontainer div span {
    display: block;
  }

  .btngroup.col2 {
    grid-template-columns: 6vh auto !important;
  }
  .btngroup.col2 [data-option]:nth-of-type(even),
.btngroup.col2 [data-optionvalue]:nth-of-type(even) {
    order: 1;
  }
  .btngroup.col2 [data-option]:nth-of-type(even) + p,
.btngroup.col2 [data-option]:nth-of-type(even) + span,
.btngroup.col2 [data-optionvalue]:nth-of-type(even) + p,
.btngroup.col2 [data-optionvalue]:nth-of-type(even) + span {
    order: 1;
  }
}
@media (orientation: portrait) and (max-aspect-ratio: 7/10) {
  #statscratesdetailscontent.col2,
#bulkresultsitems.col2,
#bulkresultsbonusitems.col2 {
    grid-template-columns: 100% !important;
  }
  #statscratesdetailscontent.col3,
#bulkresultsitems.col3,
#bulkresultsbonusitems.col3 {
    grid-template-columns: 100% !important;
    grid-auto-rows: 60% !important;
    grid-template-rows: 60% !important;
  }
  #statscratesdetailscontent#bulkresultsitems.col3,
#bulkresultsitems#bulkresultsitems.col3,
#bulkresultsbonusitems#bulkresultsitems.col3 {
    grid-auto-rows: 63% !important;
    grid-template-rows: 63% !important;
  }

  [data-tooltip].tooltipmobiletopleft::after {
    top: initial;
    right: initial;
    bottom: 90%;
    right: 90%;
    transform: none;
  }
  [data-tooltip].tooltipmobiletopright::after {
    top: initial;
    right: initial;
    bottom: 90%;
    left: 90%;
    transform: none;
  }
  [data-tooltip].tooltipmobiletop::after {
    top: initial;
    right: initial;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  [data-tooltip].tooltipmobileleft::after {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
  }
  [data-tooltip].tooltipmobileright::after {
    top: 50%;
    left: 100%;
    right: initial;
    transform: translateY(-50%);
  }
  [data-tooltip].tooltipmobilebottomleft::after {
    top: 90%;
    right: 90%;
  }
  [data-tooltip].tooltipmobilebottomright::after {
    top: 90%;
    left: 90%;
  }

  .gridactive [data-tooltip].tooltipmobilegridtop::after {
    top: initial;
    right: initial;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  #crateselectscreen nav.top .btn,
#crateselectscreen nav.top #soundbtn {
    margin: 0 0.25vh;
  }

  #optionsscreen > div > span {
    width: 100%;
    height: initial;
    margin-bottom: 1vh;
  }

  #cratelootdiv,
#crateeffectsdiv {
    padding: 0 1vh;
    max-height: 71%;
    width: 100% !important;
    left: 0 !important;
    top: 48% !important;
  }

  #cratedetails {
    width: 100% !important;
    left: 0 !important;
  }

  #crateinforeturnbtn {
    left: 11vh;
    bottom: 1%;
    width: calc(50% - 12vh);
    height: 5vh;
  }

  #crateinfoeffectsbtn,
#crateinfolootbtn {
    right: 11vh;
    bottom: 1%;
    width: calc(50% - 12vh);
    height: 5vh;
  }

  #cratewindow:not(.gridactive) #gridviewbtn {
    top: initial;
    bottom: 1%;
    left: 1vh;
    right: initial;
    height: 5vh;
    width: 8vh;
  }
  #cratewindow:not(.gridactive) #randomcratebtn {
    top: initial;
    bottom: 1%;
    left: initial;
    right: 1vh;
    height: 5vh;
    width: 8vh;
  }
  #cratewindow:not(.gridactive) #searchbtn {
    top: initial;
    bottom: 1%;
    left: initial;
    right: 1vh;
    height: 5vh;
    width: 8vh;
  }
  #cratewindow:not(.gridactive) #previouscratebtn {
    top: initial;
    bottom: 7vh;
    left: 1vh;
    height: 5vh;
    width: 45%;
    font-size: 6vh;
  }
  #cratewindow:not(.gridactive) #nextcratebtn {
    top: initial;
    bottom: 7vh;
    right: 1vh;
    height: 5vh;
    width: 45%;
    font-size: 6vh;
  }

  #cratewindow.gridactive {
    padding-bottom: 6.5vh;
  }
  #cratewindow.gridactive > .btn {
    height: 5vh;
    width: 30%;
  }
  #cratewindow.gridactive #exitgridviewbtn {
    top: initial;
    bottom: 0.75vh;
    left: 5%;
    width: 26.66%;
  }
  #cratewindow.gridactive #randomcratebtn {
    top: initial;
    bottom: 0.75vh;
    left: 36.66%;
    width: 26.66%;
  }
  #cratewindow.gridactive #searchbtn {
    top: initial;
    bottom: 0.75vh;
    right: 5%;
    width: 26.66%;
  }

  #crategrid {
    padding: 0 1vh 1vh;
    margin-right: 0;
  }

  .btngroup > .btn {
    flex-basis: 35%;
  }
  .btngroup select {
    width: 90%;
    border-style: solid;
  }
}
@media (orientation: portrait) and (max-aspect-ratio: 9/10) {
  #unboxeditem {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    width: 100%;
    padding: 0 1vh;
    left: 0;
  }
}
@media (orientation: portrait) {
  #optionsscreen section > div {
    flex-basis: 100%;
    border-right: none !important;
  }
  #optionsscreen section > div:nth-last-of-type(2) {
    border-bottom: 0.25vh solid #776B5F;
  }
}
@media (orientation: portrait) {
  #cratedetailsheader {
    height: auto !important;
    flex-direction: column;
    padding: 0 1vh;
  }
  #cratedetailsheader > img {
    display: none;
  }
  #cratedetailsheader > div {
    margin: 1vh 0 !important;
  }
}
@media (orientation: portrait) {
  #cratewindow {
    width: 100%;
    left: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    top: 7%;
    height: 86%;
  }
  #cratewindow > .btn {
    right: 0.5vh;
  }
}
@media (orientation: portrait) {
  #cratedetails {
    width: calc(100% - 8vh);
    left: 4vh;
  }
}
@media (orientation: portrait) {
  #previouscratebtn {
    left: 0.5vh;
  }
}
@media (orientation: portrait) {
  #nextcratebtn {
    right: 0.5vh;
  }
}
@media (orientation: portrait) {
  #cratelootdiv,
#crateeffectsdiv {
    left: 3.5vh;
    width: calc(100% - 7vh);
  }
}
@media (orientation: portrait) {
  #statscontainerinner > nav {
    width: 98%;
  }
}
@media (orientation: portrait) {
  .break {
    display: initial;
  }
}
@media (orientation: portrait) {
  #cratemain {
    width: 100%;
  }
}
@media (orientation: portrait) {
  #lootunboxchance {
    left: 5%;
  }
}
@media (orientation: portrait) {
  #lootunboxedtimes {
    right: 5%;
  }
}
@media (orientation: portrait) {
  #lootbonusitemcontainer .bonustooltip {
    min-width: 33vw;
  }
  #lootbonusitemcontainer.i2 .bonustooltip {
    min-width: 40vw;
  }
}
@media (orientation: landscape) {
  #lootstatscontainer > div {
    flex-basis: 50%;
  }

  #crategrid {
    margin-right: 3.5vh;
  }

  .btn [data-string] {
    display: inline;
  }

  nav .btn i {
    position: absolute;
    left: 1.5vh;
  }

  #steambtn i,
#soundbtn i {
    position: static;
  }

  #cratelootdiv,
#crateeffectsdiv {
    left: 3.5vh;
    width: calc(100% - 7vh);
  }

  #randomcratebtn {
    width: 50%;
  }

  #cratemain {
    width: 100%;
  }

  .tabreturnbtn,
#statscratesdetails nav .btn {
    width: 60%;
    left: 20%;
  }

  #returnbtn {
    left: 5%;
    width: 40%;
  }

  #unboxagainbtn {
    right: 5%;
    width: 40%;
  }

  #lootunboxchance {
    left: 5%;
  }

  #lootunboxedtimes {
    right: 5%;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 4/3) {
  #lootunboxchance,
#lootunboxedtimes {
    width: 25%;
    bottom: 17.5%;
  }

  #lootunboxchance {
    left: initial;
  }

  #lootunboxedtimes {
    right: 0;
  }

  #lootmarketbtns {
    top: 45%;
  }

  #cratemain {
    width: 49%;
    display: block !important;
  }

  #crateinfobtn,
#crateinforeturnbtn {
    display: none !important;
  }

  #lootimgdiv {
    width: 50%;
    float: left;
  }
  #lootimgdiv img {
    height: 70%;
  }

  #lootimg,
#effectimg {
    top: 50%;
  }

  #crateimagediv img {
    max-height: 90%;
  }

  #unboxeditem {
    width: 80%;
    left: 10%;
    height: 77%;
    bottom: 10%;
  }

  #loottextdiv {
    width: 50%;
    left: initial;
    right: 0%;
  }

  #lootnamediv {
    top: 10%;
  }

  #crateinfoeffectsbtn,
#crateinfolootbtn {
    left: 15%;
    width: 70%;
  }

  #crateimagediv {
    width: 50%;
    left: 0;
    display: flex !important;
  }

  #cratedetails {
    width: 50%;
    right: 0;
    display: block !important;
  }

  #lootbonusandstats {
    height: 42%;
  }

  #lootstatscontainer {
    height: 28% !important;
  }
  #lootstatscontainer div span {
    display: block;
  }

  #kitimg {
    top: 47%;
    left: 50%;
    height: 19% !important;
    transform: translateX(-68%);
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 14/9) {
  #optionsscreen {
    width: 155vh;
    margin: 0 auto;
  }
}
.amoledtheme {
  background-color: #000;
}
.amoledtheme #cratewindow,
.amoledtheme #crategrid div,
.amoledtheme #statsunusualscontent > div,
.amoledtheme #statscrates > div,
.amoledtheme #unboxeditem,
.amoledtheme #lootbonusitems #lootbonusitemcontainer > div,
.amoledtheme #countdown,
.amoledtheme #bulkunboxselect > div,
.amoledtheme #bulkresultsunusualscontent > div,
.amoledtheme #bulkresultsbonusitems > div,
.amoledtheme #bulkresultsitems > div {
  background-color: #000;
}
.amoledtheme .checkbox {
  background-color: #000 !important;
}
.amoledtheme #cratedetailsheader,
.amoledtheme #statscratesdetailscontent > div,
.amoledtheme #bulkresultsheader {
  background-color: #000 !important;
  background-image: none !important;
}

.colorunique {
  color: #FFD700;
}
.colorunique.bordercolor {
  border-color: #FFD700;
}

.colorstrange {
  color: #CF6A32;
}
.colorstrange > .statsitemname {
  color: #CF6A32;
}
.colorstrange.bordercolor {
  border-color: #CF6A32;
}

.colorhaunted {
  color: #38F3AB;
}
.colorhaunted > .statsitemname {
  color: #38F3AB;
}
.colorhaunted.bordercolor {
  border-color: #38F3AB;
}

.colorcivilian {
  color: #B0C3D9;
}
.colorcivilian.bordercolor {
  border-color: #B0C3D9;
}

.colorfreelance {
  color: #5E98D9;
}
.colorfreelance.bordercolor {
  border-color: #5E98D9;
}

.colormercenary {
  color: #4B69FF;
}
.colormercenary.bordercolor {
  border-color: #4B69FF;
}

.colorcommando {
  color: #8847FF;
}
.colorcommando.bordercolor {
  border-color: #8847FF;
}

.colorassassin {
  color: #D32CE6;
}
.colorassassin.bordercolor {
  border-color: #D32CE6;
}

.colorelite {
  color: #EB4B4B;
}
.colorelite.bordercolor {
  border-color: #EB4B4B;
}

.colorunusual {
  color: #8650AC;
}
.colorunusual.bordercolor {
  border-color: #8650AC;
}

.colordecorated {
  color: #FAFAFA;
}